# Pandas Task 1

In [ ]:
#https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt')

In [4]:
df

       name calories sodium alcohol cost
0              Budweiser 144 15 4.7 0.43
1                Schlitz 151 19 4.9 0.43
2              Lowenbrau 157 15 0.9 0.48
3             Kronenbourg 170 7 5.2 0.73
4               Heineken 152 11 5.0 0.77
5          Old_Milwaukee 145 23 4.6 0.28
6             Augsberger 175 24 5.5 0.40
7   Srohs_Bohemian_Style 149 27 4.7 0.42
8             Miller_Lite 99 10 4.3 0.43
9         Budweiser_Light 113 8 3.7 0.40
10                 Coors 140 18 4.6 0.44
11           Coors_Light 102 15 4.1 0.46
12        Michelob_Light 135 11 4.2 0.50
13                 Becks 150 19 4.7 0.76
14                  Kirin 149 6 5.0 0.79
15      Pabst_Extra_Light 68 15 2.3 0.38
16                 Hamms 139 19 4.4 0.43
17   Heilemans_Old_Style 144 24 4.9 0.43
18     Olympia_Goled_Light 72 6 2.9 0.46
19           Schlitz_Light 97 7 4.2 0.47

In [5]:
df.head()

  name calories sodium alcohol cost
0         Budweiser 144 15 4.7 0.43
1           Schlitz 151 19 4.9 0.43
2         Lowenbrau 157 15 0.9 0.48
3        Kronenbourg 170 7 5.2 0.73
4          Heineken 152 11 5.0 0.77

In [6]:
df.tail()

      name calories sodium alcohol cost
15     Pabst_Extra_Light 68 15 2.3 0.38
16                Hamms 139 19 4.4 0.43
17  Heilemans_Old_Style 144 24 4.9 0.43
18    Olympia_Goled_Light 72 6 2.9 0.46
19          Schlitz_Light 97 7 4.2 0.47

In [8]:
df.shape

(20, 1)

In [9]:
df.index

RangeIndex(start=0, stop=20, step=1)

In [10]:
df.columns

Index(['name calories sodium alcohol cost'], dtype='object')

In [11]:
df.dtypes

name calories sodium alcohol cost    object
dtype: object

In [12]:
df['name calories sodium alcohol cost'].unique()

array(['Budweiser 144 15 4.7 0.43', 'Schlitz 151 19 4.9 0.43',
       'Lowenbrau 157 15 0.9 0.48', 'Kronenbourg 170 7 5.2 0.73',
       'Heineken 152 11 5.0 0.77', 'Old_Milwaukee 145 23 4.6 0.28',
       'Augsberger 175 24 5.5 0.40',
       'Srohs_Bohemian_Style 149 27 4.7 0.42',
       'Miller_Lite 99 10 4.3 0.43', 'Budweiser_Light 113 8 3.7 0.40',
       'Coors 140 18 4.6 0.44', 'Coors_Light 102 15 4.1 0.46',
       'Michelob_Light 135 11 4.2 0.50', 'Becks 150 19 4.7 0.76',
       'Kirin 149 6 5.0 0.79', 'Pabst_Extra_Light 68 15 2.3 0.38',
       'Hamms 139 19 4.4 0.43', 'Heilemans_Old_Style 144 24 4.9 0.43',
       'Olympia_Goled_Light 72 6 2.9 0.46', 'Schlitz_Light 97 7 4.2 0.47'],
      dtype=object)

In [13]:
df.nunique()

name calories sodium alcohol cost    20
dtype: int64

In [14]:
df.count()

name calories sodium alcohol cost    20
dtype: int64

In [15]:
df.value_counts()

name calories sodium alcohol cost
Srohs_Bohemian_Style 149 27 4.7 0.42    1
Schlitz_Light 97 7 4.2 0.47             1
Becks 150 19 4.7 0.76                   1
Budweiser 144 15 4.7 0.43               1
Budweiser_Light 113 8 3.7 0.40          1
Coors 140 18 4.6 0.44                   1
Coors_Light 102 15 4.1 0.46             1
Hamms 139 19 4.4 0.43                   1
Heilemans_Old_Style 144 24 4.9 0.43     1
Heineken 152 11 5.0 0.77                1
Kirin 149 6 5.0 0.79                    1
Kronenbourg 170 7 5.2 0.73              1
Lowenbrau 157 15 0.9 0.48               1
Michelob_Light 135 11 4.2 0.50          1
Miller_Lite 99 10 4.3 0.43              1
Old_Milwaukee 145 23 4.6 0.28           1
Olympia_Goled_Light 72 6 2.9 0.46       1
Pabst_Extra_Light 68 15 2.3 0.38        1
Schlitz 151 19 4.9 0.43                 1
Augsberger 175 24 5.5 0.40              1
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   name calories sodium alcohol cost  20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes